body{
    background-color: rgb(221, 215, 215);
}

#highlightInline
{display:inline;}

hr{
    color: grey;
}
.card-img{
    min-height: 150px;
    min-width: 150px;
     }
     .card-btn{
background-color: purple;
font-weight: bold;
color: white;
     }
     .ring{
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(181,11,202,1) 48%, rgba(157,0,255,1) 100%);
     }

     @media (max-width: 768px) {
        .carousel-inner .carousel-item > div {
            display: none;
        }
        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
    }
    
    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }
    
    /* display 3 */
    @media (min-width: 768px) {
        
        .carousel-inner .carousel-item-right.active,
        .carousel-inner .carousel-item-next {
          transform: translateX(33.333%);
        }
        
        .carousel-inner .carousel-item-left.active, 
        .carousel-inner .carousel-item-prev {
          transform: translateX(-33.333%);
        }
    }
    
    .carousel-inner .carousel-item-right,
    .carousel-inner .carousel-item-left{ 
      transform: translateX(0);
    }
footer{
    color: rgba(221, 215, 215, 0.664);
}